.post
  .avatar= link_to image_tag(post.user.avatar.url(:small)), post.user
  = raw post.body
  .meta
    %span.date= h post.created_at.to_s(:date_time)
    \-
    %span.name= h post.user.name
    - if post.can_be_deleted?(current_user)
      \-
      %span.delete= link_to t(".delete"), delete_post_path(post.id), :confirm => t(".confirm")
