.user
  .avatar= link_to image_tag(user.avatar.url(:normal)), user
  .details
    .name= link_to user.name, user
    - if user.location
      .location== #{t("users.lives_in")}: #{user.location}
    .email== #{t("formtastic.labels.user.email")}: #{mail_to user.email}