- @page_title = t(".header")

.row
  .span10
    #photos
      %h3= t(".new_photos")
      = render @photos

  .span6
    #posts
      %h3= t(".journal")
      = render :partial => "users/post_form"
      = render :partial => "users/post", :object => @post

    #albums
      %h3= t(".my_albums")

      - if @albums.empty?
        .no-items= t(".no_albums")
      - else
        = render :partial => "albums/album", :collection => @albums
