%h1= @user.name

- if current_user == @user
  .commands 
    = link_to t(".edit"), edit_account_path
    
.user
  .avatar= image_tag @user.avatar.url(:normal)
  .details
    - if @user.location
      .location== #{t("formtastic.labels.user.location")}: #{@user.location}
    .email== #{t("formtastic.labels.user.email")}: #{@user.email}
    .last_login== #{t("users.last_login")}: #{(@user.last_login_at && time_ago_in_words(@user.last_login_at) + " ago") || "Never"}

#news
  %h2= t(".activity")

  = render :partial => "shared/event", :collection => @events

#albums
  %h2= t(".albums")

  = render :partial => "albums/album", :collection => @user.albums