%h1= @user.name

- if current_user == @user
  .commands 
    = link_to 'Edit', edit_account_path
    
.user
  .avatar= image_tag @user.avatar.url(:normal)
  .details
    .login== Login: #{@user.login}
    - if @user.location
      .location== Location: #{@user.location}
    .email== Email: #{@user.email}
    .last_login== Last login: #{(@user.last_login_at && time_ago_in_words(@user.last_login_at) + " ago") || "Never"}

%h2 Albums

= render :partial => "albums/album", :collection => @user.albums