- @page_title = t(".header")

= form_for @album do |f|
  .clearfix
    = f.label :name
    .input= f.text_field :name
  .actions
    = f.submit :class => "primary btn"
    or
    = link_to t("back"), :back
