%h1= @album.name || "Untitled Album"

.commands
  - if owns?(@album)
    = link_to "Add photo",    new_album_photo_path(@album)
    = link_to "Edit album",   edit_album_path(@album)
    = link_to "Delete album", @album, :method => :delete, :confirm => "Are you sure to delete this album?"

- if @album.photos.empty?
  .no-items
    There are no photos in this album yet.
    = link_to "Add photo",     new_album_photo_path(@album)
- else
  = render :partial => "photo", :collection => @album.photos.all(:order => "created_at desc")
