- if form.object.new_record?
  .clearfix
    = form.label :image
    .input= form.file_field :image

.clearfix
  = form.label :title
  .input= form.text_field :title

.clearfix
  = form.label :desc
  .input= form.text_field :desc

.actions
  = form.submit :class => "primary btn"
  or
  = link_to t("back"), resource_path
