- @page_title= t(".header")

= form_for :photos, :url => create_ten_album_photos_path(params[:album_id]), :html => { :multipart => true, :id => "ten_photos", :class => "formtastic" } do |f|
  - 10.times do |i|
    .clearfix
      = f.label "photos[#{i}][title]", "#{t('photo')} #{i+1}"
      .input= f.file_field "photos[#{i}][image]"

  .actions
    = f.submit t(".upload"), :class => "primary btn"
