%h1
  = @photo.title
  == (#{link_to @photo.album.name, parent_path})

.photo.full
  = link_to_previous_photo
  = link_to_next_photo
  .container
    .image
      = image_tag @photo.image.url(:full)
      - if owns?(@photo)
        .admin
          = link_to t(".edit"),   edit_album_photo_path(@photo.album, @photo), :class => "edit"
          = link_to t(".delete"), [ @photo.album, @photo ], :method => :delete, :class => "delete", :confirm => t(".delete_confirm")
    .desc= @photo.desc

%h2
  %a{ :name => "comments" }= t(".comments")

- unless @photo.comments.any?
  .no-items= t(".no_comments")
- else
  #comments
    = render :partial => "comment", :collection => @photo.comments.all(:order => "created_at asc", :include => :user)

- semantic_form_for :comment, :url => create_comment_album_photo_path(@photo.album, @photo) do |f|
  = f.input :comment, :as => :text
  - f.buttons do
    = f.commit_button t(".add_comment")