%h1
  = (@photo.title || "Untitled")
  == (#{link_to @photo.album.name, parent_path})
  
    
.photo.full
  .image= image_tag @photo.image.url(:full)
  .desc= @photo.desc
  
- if owns?(@photo)
  %h2 Administration

  = link_to "Edit photo", edit_album_photo_path(@photo.album, @photo)
  = link_to "Delete photo", [ @photo.album, @photo ], :method => :delete, :confirm => "Are you sure to delete this photo?"

%h2
  %a{ :name => "comments" } Comments

- unless @photo.comments.any?
  .no-items
    There are no comments yet.
- else
  #comments
    = render :partial => "comment", :collection => @photo.comments.all(:order => "created_at asc", :include => :user)

- semantic_form_for :comment, :url => create_comment_album_photo_path(@photo.album, @photo) do |f|
  = f.input :comment, :as => :text
  - f.buttons do
    = f.commit_button "Add comment"