#header
  .container
    #links
      - if logged_in?
        = link_to t('.dashboard'), dashboard_path
        = link_to t('.albums'),    albums_path
        = link_to t('.people'),    users_path
        = link_to t('.my_account'), account_path
        = link_to t('.log_out'),   logout_path
      - else
        &nbsp;