#header
  .container
    #links
      - if logged_in?
        = link_to 'Dashboard', dashboard_path
        = link_to 'Albums',    albums_path
        = link_to 'People',    users_path
        = link_to 'My Account', account_path
        = link_to 'Log out',   logout_path