!!!
%html
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %title== #{@title && (@title + " -")} #{t(:family_hut)}
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
  %body
    = render :partial => "layouts/header"
    .container
      .content
        = render :partial => "layouts/page_header"
        = yield
      = render :partial => "layouts/footer"
    = javascript_include_tag 'application'
